.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: 0 auto;
}
.container .form-control {
    margin-bottom: 10px;
}
.container .form-control label {
    display: block;
    margin-bottom: 5px;
}
.container .form-control input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid darkgrey;
    width: 100%;
    box-sizing: border-box;
}
.container .form-control button {
    width: 100%;
    color: white;
    background: black;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
}
.container .form-values {
    margin-top: 30px;
}
