<form class="container" [formGroup]="form">

  <h1>Order your drinks</h1>

  <div class="form-control">
    <label>Your name: </label>
    <input type="text" placeholder="Your name" formControlName="name" />
  </div>
  <div class="form-control">
    <label>Amount of white wine: </label>
    <app-counter-input formControlName="white_wine"></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of red wine: </label>
    <app-counter-input formControlName="red_wine"></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of beer: </label>
    <app-counter-input formControlName="beer"></app-counter-input>
  </div>
  <div class="form-control">
    <button>Place order</button>
  </div>

  <pre>
    {{ form.value | json }}
  </pre>

</form>